## Examples

%{ for example in examples ~}
  ### Example: ${example.name}
  %{ if example.description != null }${example.description}%{ endif }

  ```hcl
  {{ include "examples/${example.name}/main.tf" }}

  ```
%{ endfor ~}