#This file is deployed by the Github Bootstrap workflow at init time as sample configuration.
#The terraform-github-easy-bootstrap module does not manage this file further, you can do your own configuration.

#Example Azure Subnet
data "azurerm_subnet" "snet" {
  name                 = var.snet_name
  virtual_network_name = var.vnet_name
  resource_group_name  = var.vnet_rgrp_name
}