#This file is deployed by the Github Bootstrap workflow at init time as sample configuration.
#The terraform-github-easy-bootstrap module does not manage this file further, you can do your own configuration.

#Context
variable "cloud" {}
variable "environment" {}
variable "region" {}
variable "project" {}
variable "owner" {}
variable "subsidiary" {}

#Example Azure Subnet
variable "snet_name" {}
variable "vnet_name" {}
variable "vnet_rgrp_name" {}